h1 {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    text-align: center;
    background-color: olivedrab;
    color: antiquewhite;
    font-size: 80px;
}

h3 {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    color: olivedrab;
    font-size: 40px;
}

p {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-size: 28px;
}

li {
    font-family: 'Courier New', Courier, monospace, sans-serif; 
    font-weight: 500;
}

.recipes {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-size: 50px;
}

#home {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-size: 30px;
    font-weight: bold;
}