h1, h3, h4 {
    font-family: Georgia, Garamond, "Times New Roman";
    font-size: 30px;
    text-align: center;
    color: black;
    line-height: 1%;
}
p, li {
    font-family: 'Courier New', Courier, monospace ;
}
img {
    border-radius: 5%;
}
.imgalign {
    text-align: center;
}
.imgbox {
    padding: 65px;
}
.recipeimg {
    height: 500px;
}
.recipebox {
    background-color: blanchedalmond;
    width: 700px;
    margin: 0 auto;
    padding: 2px 25px 2px 25px;
}
.title {
    font-size: 75px;
}
.headborder {
    margin: 10px;
    padding: 2px;
    background-color: burlywood;
}
.name {
    font-size: 30px;
}
.dishes {
    display: inline-block;
    height: 225px;
    margin: 50px;
    border-radius: 5%;
    border: solid burlywood;
    border-width: 5px;
}
