.title {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    text-align: center;
    background-color: olivedrab;
    color: antiquewhite;
    font-size: 80px;
    text-shadow: 5px 5px 15px rgba(0,0,0,.25);

}

.heading {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    color: olivedrab;
    font-size: 40px;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

p {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-size: 28px;
}

li {
    font-family: 'Courier New', Courier, monospace, sans-serif; 
    font-weight: 500;
}

.recipes {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-size: 50px;
    text-align: justify;
    text-align: center;
}

.recipecard {
    display: inline-block;
    background-color: antiquewhite;
    text-align: center;
    width: 400px;
    margin: 0px auto;
}

.imgcontainer{
    height: 300px;
}

.recipeimg {
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.recipetitle {
    margin: 20px auto 10px auto;
}

.recipes button{
    background-color: olivedrab;
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace, sans-serif;
    margin: 15px;
    margin-top: 0px;
    border-radius: 12px;
    padding: 5px 10px;
    border: 0px;
}

.recipes button:hover {
    box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#home {
    font-family: 'Courier New', Courier, monospace, sans-serif;
    font-size: 30px;
    font-weight: bold;
}